:root {
    --blue: #345FF6;
    --soft-blue: #5b7df9;
    --blue-opaque: rgb(233, 237, 249);
    --gunmetal: #253347;
    --dark-electric-blue: #5E6E85;
    --borders: #D8E2E7;
    --white: #ffffff;
    --gradient-color-1: #E2F4FD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    margin: auto;
}

#top-section {
    display: flex;
}

#main-heading-container {
    background: linear-gradient(135deg, var(--white), var(--gradient-color-1));
    height: 500px;
    width: 70%;
    border-radius: 0px 0px 25px 25px;
    padding-left: 100px;
}

#logo {
    height: 64px;
    width: 64px;
    margin-top: 75px;
}

#main-header {
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--gunmetal);
    font-size: 3.2rem;
    font-weight: 700;
    width: 420px;
}

#app-description {
    color: var(--gunmetal);
    width: 450px;
    font-weight: 300;
}

#calculator-container {
    background-color: var(--white);
    position: absolute;
    right: 0;
    margin-right: 25%;
    top: 120px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px var(--gradient-color-1);
}

#action-prompt {
    margin-bottom: 20px;
}

#unit-selector {
    display: flex;
    margin-bottom: 20px;
}

.radio-label-group {
    width: 50%;
    display: flex;
    align-items: center;
}

.radio-button {
    height: 31px;
    width: 31px;
    margin-right: 10px;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--borders);
}

.radio-button:hover {
    border-color: var(--blue);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
}

.radio-button:focus {
    background-color: var(--blue);
    border-color: var(--blue-opaque);
    border-width: 8px;
}

label {
    font-weight: 600;
    font-size: 0.85rem;
}

#user-entry {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.input-group {
    width: 50%;
}

.input-label {
    color: var(--dark-electric-blue);
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.input {
    border-color: var(--borders);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 50px;
    padding-left: 10px;
    width: 90%;
    color: var(--dark-electric-blue);
}

.input:focus {
    border-color: var(--blue);
    outline: none;
}

#blue-container {
    background: linear-gradient(270deg, var(--soft-blue), var(--blue));
    color: var(--white);
    height: 100px;
    padding-left: 20px;
    border-radius: 10px 50px 50px 10px;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
}

#welcome-header {
    font-weight: 600;
}

#welcome-message {
    font-size: 0.7rem;
    font-weight: 300;
}

.welcome #quick-results {
    display: none;
}
