:root {
    --blue: #345FF6;
    --soft-blue: #5b7df9;
    --blue-opaque: rgb(233, 237, 249);
    --gunmetal: #253347;
    --dark-electric-blue: #5E6E85;
    --borders: #D8E2E7;
    --white: #ffffff;
    --gradient-color-1: #E2F4FD;
    --gradient-color-2: #f4fbff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    margin: auto;
    padding-bottom: 100px;
}

#top-section {
    display: flex;
    margin-bottom: 40px;
}

#main-heading-container {
    background: linear-gradient(135deg, var(--white), var(--gradient-color-1));
    height: 500px;
    width: 70%;
    border-radius: 0px 0px 25px 25px;
    padding-left: 100px;
}

#logo {
    height: 64px;
    width: 64px;
    margin-top: 75px;
}

#main-header {
    margin-top: 50px;
    margin-bottom: 20px;
    color: var(--gunmetal);
    font-size: 3.2rem;
    font-weight: 700;
    width: 420px;
}

#app-description {
    color: var(--gunmetal);
    width: 450px;
    font-weight: 300;
}

#calculator-container {
    background-color: var(--white);
    position: absolute;
    width: 500px;
    right: 0;
    margin-right: 25%;
    top: 120px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px var(--gradient-color-1);
}

#action-prompt {
    margin-bottom: 20px;
}

#unit-selector {
    display: flex;
    margin-bottom: 20px;
}

.radio-label-group {
    width: 50%;
    display: flex;
    align-items: center;
}

.radio-button {
    height: 31px;
    width: 31px;
    margin-right: 10px;
    appearance: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--borders);
}

.radio-button:hover {
    border-color: var(--blue);
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    cursor: pointer;
}

.radio-button:focus {
    background-color: var(--blue);
    border-color: var(--blue-opaque);
    border-width: 8px;
}

label {
    font-weight: 600;
    font-size: 0.85rem;
}

#user-entry-metric {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    display: none;
}

.metric #user-entry-metric {
    display: flex;
}

.input-group {
    width: 50%;
}

.input-label {
    color: var(--dark-electric-blue);
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: var(--borders);
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: 50px;
    width: 85%;
    padding-right: 50px;
}

.input {
    border: none;
    padding-left: 20px;
    color: var(--dark-electric-blue);
    font-weight: 700;
    font-size: 1.5rem;
    width: 150px;
}

.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input:focus {
    border-color: var(--blue);
    outline: none;
}

.unit {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Imperial-specific styling */

#user-entry-imperial {
    display: none;
}

.imperial #user-entry-imperial {
    display: block;
}

#imperial-height {
    display: flex;
    margin-bottom: 20px;
}

#inches-input {
    align-self: flex-end;
}

#imperial-weight {
    margin-bottom: 20px;
}

#blue-container {
    background: linear-gradient(270deg, var(--soft-blue), var(--blue));
    color: var(--white);
    height: 100px;
    padding-left: 20px;
    border-radius: 10px 50px 50px 10px;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
}

#welcome-header {
    font-weight: 600;
}

#welcome-message {
    font-size: 0.7rem;
    font-weight: 300;
}

.welcome #quick-results {
    display: none;
}

#results-definition-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

#man-eating {
    width: 533px;
    height: 500px;
}

#results-definition-text {
    width: 465px;
    margin-top: 100px;
}

#results-header {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--gunmetal);
    margin-bottom: 20px;
}

#results-definition {
    color: var(--dark-electric-blue);
    line-height: 25px;
}

#healthy-habits-section {
    display: flex;
    background: linear-gradient(320deg, var(--gradient-color-2), var(--white));
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-around;
    margin-bottom: 100px;
}

.habit-container {
    width: 25%;
}

.habit-icon {
    margin-bottom: 30px;
}

.habit-label {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--gunmetal);
    margin-bottom: 25px;
}

.habit-description {
    color: var(--dark-electric-blue);
}

#limitations-first-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#limitations-header-container {
    width: 40%;
}

#limitations-main-header {
    font-size: 2.5rem;
    color: var(--gunmetal);
    margin-bottom: 20px;
}

#limitations-overview {
    color: var(--dark-electric-blue);
}

#limitations-second-row {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    gap: 30px;
    
}

#limitations-third-row {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.limitation-container {
    width: 25%;
    box-shadow: 10px 10px 30px var(--borders);
    border-radius: 15px;
    padding: 20px;
}

.limitation-header-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.limitation-icon {
    margin-right: 10px;
}

.limitation-header {
    color: var(--gunmetal);
    font-size: 1.1rem;
}

.limitation-description {
    color: var(--dark-electric-blue);
}

